@model AboutViewModel

<!-- Q5 -->
<body class="bodyA">
<div class="col d-flex justify-content-center text-center">
    <div class="card-body div9 cardR">
        <div class="text-center"></div>
         <h1 class="display-4 headUnder">About Page</h1>
         <h4>@Model.Title</h3>
         <p>@Model.Message</p>
         <p>We where formed on @Model.FormedString or @Model.Days days ago.</p>
         </div>
    </div>
</div>
</body>
