@{
    ViewData["Title"] = "Home Page";
}

<!-- Q2 -->
<div class="text-center callout callout-info">
    <h1 class="display-4">Home Page</h1>
    <p>This is the default page displayed when the application loads.</p>

<!-- Q3 -->
    <p>Today is <b>@DateTime.Now.ToLongDateString()</b></p>
<!-- Q4 -->
    <p>@ViewBag.Message @ViewBag.LongTime</p>
</div>

