@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Q6 Customization -->
<div class="text-center callout callout-info-g">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
</div>
